<h3> {{title}} - {{displayQuery}} </h3>

<form (ngSubmit)="sendQuery()" [formGroup]="form" >
  <div *ngFor="let key of modelKeys" >
    {{key}}: <input placeholder="Enter {{key}} Here" formControlName="{{key}}" />
  </div>
<!----  <div *ngIf="myForm.controls[key] && myForm.controls[key].invalid">
    {{key}} is invalid
  </div> -->
<button type="submit" [disabled]="!form.valid">Submit</button>
</form>

<div *ngIf="searchResults; else elseBlock">
  <h3 class="total">Total Results: {{searchResults.total_count}}</h3>
  <ul class="list">    
    <app-repository-display
     [searchResults]="searchResults.repositories" 
     [favorites] = "favorites" 
     (updateFavorites) = "handleFavorite($event)" 
     *ngIf="searchResults.repositories" 
     >
    </app-repository-display>

    <app-code-display
     [searchResults]="searchResults.code" 
     [favorites] = "favorites" 
     (updateFavorites) = "handleFavorite($event)" 
     *ngIf= "searchResults.code" 
     > 
    </app-code-display>
  </ul>
  <div>
    <button (click)="firstPage()">First</button>
    <button (click)="prevPage()" >Prev</button>
    <button (click)="nextPage()">Next</button>
    <button (click)="lastPage()">Last</button>
  </div>
</div>
<ng-template #elseBlock>Loading....</ng-template>