.list_item {
    border:none;
    height: 100%;
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 10px;
}
.avatar {
    width:150px;
    height:150px;
    float:left;
}
.title {
    font-size:20px;
    line-height: 14px;
}
.description {
    font-size:14px;
    text-align: center;
}

.favorite_icon {
    position: relative;
    float: right;
    bottom: 105px;
    font-size: 36px;
    cursor: pointer;
    color: #546E7A;
}

.favorited {
    color: yellow;
    text-shadow:
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
  }
